beautifulsoup4
datasets
fastapi
finnhub-python
jinja2
jsonschema
langchain-anthropic
langchain-core
langchain-openai
langgraph
lxml
nltk
pandas
pydantic
pytest
pytest-playwright
python-dateutil
python-dotenv
pytz
pyyaml
rich
torch
transformers
uvicorn
yfinance
